<%# TODO: DRY this with show! %>
<% set_decision_view_stuff %>
<% sorted_alts = @decision.alternatives.sort_by { |alt| -@percents[alt.id] } %>
<% sorted_facts = @decision.factors.sort_by { |fact| -fact.weight } %>

<% if @decision.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@decision.errors.count, "error") %>
    prohibited this decision from being saved:
    </h2>
    <ul>
      <% @decision.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @decision do |decform| %>

  <div align="center">
    <%= decform.label :name, class: 'attr_label' %>:
    <%= decform.text_field :name, class: 'attr_field' %>
    <%# won't have a user_id on #new! %>
    <% if @user.is_admin? && @decision.user_id && @decision.user_id != @user.id %>
      <br/>(from <%= @decision.user.username %>)
    <% end %>
    <br/><%= decform.label :public? %>: <%= decform.check_box :public? %>
    <br/>
  </div>

  <p/>
  <table align="center" border="1">
    <tr valign="top">
      <td>
        <%= link_to 'Add Alternative (column)',
            new_alternative_path( :decision_id => @decision.id ),
            class: 'add_item_link' %>
        <br/>
        <%= link_to 'Add Factor (row)',
            new_factor_path( :decision_id => @decision.id ),
            class: 'add_item_link'  %>
      </td>

      <%= decform.fields_for :alternatives, sorted_alts do |altform| %>
        <td bgcolor="<%#= Level.goodColors[@scores[alt.id]].name %>" >
          <%= altform.text_field :name, size: 10 %><br/>
          <%= altform.label :_destroy, 'Remove', class: 'remove_item_label' %>
          <%= altform.check_box :_destroy %>
        </td>
      <% end %>

    </tr>

    <%= decform.fields_for :factors, sorted_facts do |facform| %>
      <tr>
        <td>
          <%= facform.text_field :name,
              size: '20' %><br/>
          <%= facform.collection_select(:weight_id,
                                        Level.weightNames, :id, :name,
                                        { selected: facform.object.weight } ) %>
          <%= facform.label :_destroy, 'Remove', class: 'remove_item_label' %>
          <%= facform.check_box '_destroy' %>
        </td>
        <% sorted_alts.each do |alt| %>
          <% rank = @rankings[[alt.id,facform.object.id]] %>
          <td bgcolor="<%= Level.goodColors[rank.weight - 1].name %>">
            <%= decform.fields_for :rankings, rank do |rankform| %>
              <%= rankform.collection_select(:weight_id,
                                             Level.goodNames, :id, :name,
                                             { selected: rank.weight }) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>

    <tr>
      <td>
      </td>

      <% sorted_alts.each do |alt| %>
        <td bgcolor="<%= Level.goodColors[@scores[alt.id]].name %>">
          <b><%= Level.goodNames[@scores[alt.id]].name %></b><br/>
          (<%= number_to_percentage @percents[alt.id], precision: 0 %>)
        </td>
      <% end %>
    </tr>
  </table>
  <div align="center"><%= decform.submit '   Save   ', disable_with: 'Saving....' %></div>
<% end %>

<div id="back_link"><%= link_to 'Back to Decisions', decisions_path %></div>
