<table>
  <tr>
    <th>Name</th>
    <% if @show_all %>
      <th>User</th>
    <% end %>
    <th></th>
    <th></th>
  </tr>

<% @decisions.each do |decision| %>
  <tr>
    <td><%= link_to decision.name, decision %></td>
    <% if @show_all %>
      <td><%= decision.user ? decision.user.username : "ERROR: NO USER" %></td>
    <% end %>
    <td><%= link_to 'Destroy', decision,
                               confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= form_for @decision do |f| %>

  <% if @decision.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@decision.errors.count, "error") %>
      prohibited this decision from being saved:</h2>

      <ul>
        <% @decision.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <% if @show_all %>
    <div class="field">
      <%= f.label :user %><br />
      <%= collection_select(:decision, :user_id,
                            User.all, :id, :username) %>
    </div>
  <% else %>
    <%= hidden_field(:decision, :user_id, value: @user.id) %>
  <% end %>

  <div class="actions">
    <%= f.submit 'Add Decision' %>
  </div>
<% end %>
