<div align="center">

<h2><%= @decision.name %></h2>

<table align="center" border="1" width="50%">
  <tr>
    <td></td>
    <% @alternatives.each do |alt| %>
      <td width="<%= 100 / (@alternatives.length + 1) %>%"
          bgcolor="<%= @colors[alt.id]%>" >
        <b><%= alt.name %></b>
      </td>
    <% end %>
  </tr>
  <% @decision.factors.each do |fac| %>
    <tr>
      <td>
        <b><%= fac.name %></b><br/>
        (<%= @weightNames[fac.id].name %>)
      </td>
    <% @alternatives.each do |alt| %>
      <% rank = @rankings[[alt.id,fac.id]] %>
      <td bgcolor="<%= Level.goodColors[rank.weight - 1].name %>">
        <%= form_for rank do |f| %>
          <%= collection_select(:ranking, :weight_id,
                                Level.goodNames, :id, :name,
                                { selected: rank.weight },
                                { onChange: "submit()" } ) %>
        <% end %>
      </td>
    <% end %>
  <% end %>
  <tr>
    <td><b>SCORES:</b></td>
    <% @alternatives.each do |alt| %>
      <td bgcolor="<%= @colors[alt.id]%>">
        <b><big><%= Level.goodNames[@scores[alt.id]].name %></big></b><br/>
        (<%= number_to_percentage @percents[alt.id], precision: 0 %>)
      </td>
    <% end %>
  </tr>
</table>


<%= link_to 'Edit Name/Factors/Alternatives', edit_decision_path(@decision) %> |
<%= link_to 'Back to Decisions', decisions_path %>

</div>
