<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container" comment="kluge to make centering on PAGE possible" style="float: right; position: relative; left: -50%; max-width: 80%">
    <div id="main" style="float: left; position: relative; left: 50%;">
      <div id="site_title"><%= link_to 'The Decider', root_path %></div>
      <div id="top_menu">
        <% if user_signed_in? %>
          <%= link_to('Edit profile', edit_user_registration_path) %> |
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
        <% else %>
          <%= link_to('Login', new_user_session_path)  %> |
          <%= link_to('Register', new_user_registration_path)  %>
        <% end %>
        | <%= link_to 'About', '/home/about' %>
      </div>
      <h1><%= title %></h1>
      <% if notice %><h2 class="notice"><%= notice %></h2><% end %>
      <% if alert %><h2 class="alert"><%= alert %></h2><% end %>
      <div id="inner_container" comment="kluge to make centering WITHIN the outer container possible" style="float: right; position: relative; left: -50%">
        <div id="innerMOST_container" style="float: left; position: relative; left: 50%;">
          <%= yield %>
        </div>
      </div>
      <div id="author_links" style="padding: 1em">
        <%= link_to "Author's Main Web Site", 'http://www.davearonson.com/' %><br/>
        Author's Blogs:<br/>
        <%= link_to "Programming", 'http://www.codosaur.us/' %> |
        <%= link_to "Personal Excellence", 'http://www.dare2xl.com/' %> |
        <%= link_to "Recruiting Rants (NEW)", 'http://www.recruitingrants.com/' %>
      </div>
    </div>
  </div>

</body>
</html>
