<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div align="center">
    <%= render "devise/menu/make_or_edit_registration_links" %> | <%= render "devise/menu/log_in_or_out_links" %>
  </div>
  <h1 align="center"><%=title%></h1>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
